{% extends 'base.html' %}

{% block title %}
Аккаунтинг
{% endblock %}

{% block content %}
<div class="top-p mt-5">
    <form method="post">
        <h1 class="h3 mb-3 fw-normal">Edit account {{user_id}}</h1>
<!--        <input style="display: none" type="text" class="form-control" id="userId" name="id" value="{{user_id}}">-->
        <div class="form-floating">
            <input type="text" class="form-control" id="fullName" name="fullName" placeholder="John Doe">
            <label for="fullName">Full Name</label>
        </div>
        <div class="form-floating">
            <select class="form-select" name="role">
                <option value="employee">EMPLOYEE</option>
                <option value="manager">MANAGER</option>
                <option value="admin">ADMIN</option>
            </select>
        </div>
        <button class="w-100 btn btn-lg btn-primary mt-5" type="submit">Сохранить</button>
    </form>
</div>
{% endblock %}